*{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html{
  height: 100%;
}

body{
  height: 100%;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task {
  display: flex;
}

h2 {
  padding: 0 10px;
}